@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');

body {
    font-family: "Ruluko", sans-serif;
    background-color: black;
}

@media (max-width: 768px) {

    body {
        background-color: black;
    }

    .video-animation {
        position: relative;
        overflow: hidden;
    }

    .video-animation video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: url(#text-clip);
        -webkit-clip-path: url(#text-clip);
    }

    .titulo {
        margin: 100px 0px 0px 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5em;
        font-weight: bolder;
        text-align: center;
        color: white;
        z-index: 1;
        position: relative;
        -webkit-mask: url(#text-clip);
        mask: url(#text-clip);
    }

    .botoes {
        margin-left: 75px;
        transform: translateY(-50%);
    }

    .botoes .botao {
        position: relative;
        display: inline-block;
        font-size: 1.4em;
        margin-right: 10px;
        border: none;
        background-color: black;
        color: rgb(0, 140, 255);
        transition: all 1s ease-in-out;
    }

    .botao::before {
        content: url(../imagens/coração.png);
        position: absolute;
        top: -20px;
        transform: translateX(-10%);
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .botao:focus::before {
        visibility: visible;
        opacity: 1;
    }

    .botoes .botao:focus {
        font-weight: bold;
        background-color: black;
        color: red;
        border-radius: 50%;
        text-shadow: red 0 0 16px
                     red 0 0 32px
                     red 0 0 64px
                     red 0 0 128px
                     red 0 0 256px;
        transition: all 1s ease-in-out;
    }
}

@media (max-width: 412px) {

    body {
        background-image: url(../imagens/background2.jpg);
        background-size: cover;
    }

    .video-animation {
        position: relative;
        overflow: hidden;
    }

    .video-animation video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: url(#text-clip);
        -webkit-clip-path: url(#text-clip);
    }

    .titulo {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5em;
        text-align: center;
        color: white;
        z-index: 1;
        position: relative;
        -webkit-mask: url(#text-clip);
        mask: url(#text-clip);
    }

    .botoes {
        margin-left: 75px;
        transform: translateY(-50%);
    }

    .botoes .botao {
        position: relative;
        display: inline-block;
        font-size: 1.4em;
        font-weight: normal;
        margin-right: 10px;
        border: none;
        background-color: white;
        color: rgb(0, 140, 255);
        transition: all 1s ease-in-out;
    }

    .botao::before {
        content: url(../imagens/coração.png);
        position: absolute;
        top: -20px;
        transform: translateX(-10%);
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .botao:focus::before {
        visibility: visible;
        opacity: 1;
    }

    .botoes .botao:focus {
        font-weight: bold;
        background-color: black;
        color: red;
        padding: 8px;
        border-radius: 50%;
        text-shadow: red 0 0 16px
                     red 0 0 32px
                     red 0 0 64px
                     red 0 0 128px
                     red 0 0 256px;
        transition: all 1s ease-in-out;
    }
}